
<!-- header -->
<header class="header header-second js-header-box">
	<div class="header-top-panel">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="location-wrap">
				<a href="" class="btn-action-text">
					<span class="elm-ico">
						<img src="./img/icons/location-second.svg" alt="">
					</span>
					<span class="button-title">Санкт-Петербург</span>
				</a>
				<div class="location-popup-wrap">
					<div class="popup-title">Ваш город Москва?</div>
					<div class="popup-buttons">
						<a href="" class="btn button-att">Да, верно</a>
						<a href="" class="btn button-second">Нет, другой</a>
					</div>
				</div>
			</div>
			<div class="menu-wrap">
				<ul>
					<li><a href="">Доставка и оплата</a></li>
					<li><a href="">Сервис</a></li>
					<li><a href="">Контакты</a></li>
					<li class="submenu">
						<a href="">Еще</a>
						<ul>
							<li><a href="">Кредит и страхование</a></li>
							<li><a href="">Гарантии</a></li>
							<li><a href="">О компании</a></li>
							<li><a href="">Отзывы о нас</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="address-wrap">г. Санкт-Петербург, Кирочная 9, БЦ Арсенал</div>
			<div class="phone-wrap">
				<a href="tel:88126402922" class="phone-number">+7(812) 640-29-22</a>
			</div>
		</div>
	</div>
	<div class="header-main-panel">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
					<img src="./img/main/logo-white.svg" alt="" class="img-light">
				</a>
			</div>
			<div class="phone-wrap">
				<a href="tel:88126402922" class="btn-action-ico ico-phone"></a>
			</div>
			<div class="main-catalog-wrap catalog-wrap js-popup-wrap">
				<a href="" class="btn btn-catalog button-att js-btn-toggle">
					<span class="button-title">Каталог</span>
				</a>
				<div class="catalog-block js-popup-block">
					<div class="catalog-menu-title-wrap">
						<div class="catalog-menu-title">Каталог</div>
						<a href="" class="btn-action-back btn-catalog-back">Все товары</a>
						<a href="" class="btn-action-ico ico-close-small btn-catalog-close"></a>
					</div>
					<div class="catalog-menu-wrap">
						<ul>
							<li>
								<a href="" class="menu-button">
									<span class="elm-ico">
										<img src="./img/icons/m01.png" alt="">
									</span>
									<span class="menu-title">Смартфоны</span>
								</a>
								<ul>
									<li class="show-all">
										<a href="">Все смартфоны</a>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">iPhone 12 Pro Max</a></li>
											<li><a href="">iPhone 12 Pro</a></li>
											<li><a href="">iPhone 12</a></li>
											<li><a href="">iPhone 12 mini</a></li>
											<li><a href="">iPhone 11 Pro</a></li>
											<li><a href="">iPhone 11</a></li>
											<li><a href="">iPhone SE 2020</a></li>
											<li><a href="">iPhone XR</a></li>
										</ul>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">Redmi Note 10T 5G</a></li>
											<li><a href="">Redmi Note 10S</a></li>
											<li><a href="">Mi 11 5G</a></li>
											<li><a href="">Mi 11 Lite</a></li>
											<li><a href="">Redmi 9T</a></li>
											<li><a href="">Redmi Note 10 Pro</a></li>
											<li><a href="">Redmi 9</a></li>
											<li><a href="">Redmi 9A</a></li>
											<li><a href="">Redmi 9C</a></li>
											<li><a href="">Redmi Note 9</a></li>
										</ul>
									</li>
									<li>
										<a href="">Samsung</a>
										<ul>
											<li><a href="">НОВИНКА Galaxy A72</a></li>
											<li><a href="">НОВИНКА Galaxy A52</a></li>
											<li><a href="">НОВИНКА Galaxy A32</a></li>
											<li><a href="">Galaxy Z Fold2</a></li>
											<li><a href="">Galaxy серия A</a></li>
											<li><a href="">Galaxy S21, S21+ и S21 Ultra</a></li>
											<li><a href="">Galaxy S20, S20+, S20 Ultra и S20 FE</a></li>
										</ul>
									</li>
									<li>
										<a href="">Honor</a>
										<ul>
											<li><a href="">Honor 30i</a></li>
											<li><a href="">Honor 10X Lite</a></li>
											<li><a href="">Honor 9A</a></li>
											<li><a href="">Honor 9S</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="" class="menu-button">
									<span class="elm-ico">
										<img src="./img/icons/m02.png" alt="">
									</span>
									<span class="menu-title">Планшеты</span>
								</a>
								<ul>
									<li class="show-all">
										<a href="">Все Планшеты</a>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">iPhone 12 Pro Max</a></li>
											<li><a href="">iPhone 12 Pro</a></li>
											<li><a href="">iPhone 12</a></li>
											<li><a href="">iPhone 12 mini</a></li>
											<li><a href="">iPhone 11 Pro</a></li>
											<li><a href="">iPhone 11</a></li>
											<li><a href="">iPhone SE 2020</a></li>
											<li><a href="">iPhone XR</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="" class="menu-button">
									<span class="elm-ico">
										<img src="./img/icons/m03.png" alt="">
									</span>
									<span class="menu-title">Компьютеры и ноутбуки</span>
								</a>
								<ul>
									<li class="show-all">
										<a href="">Все смартфоны</a>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">iPhone 12 Pro Max</a></li>
											<li><a href="">iPhone 12 Pro</a></li>
											<li><a href="">iPhone 12</a></li>
											<li><a href="">iPhone 12 mini</a></li>
											<li><a href="">iPhone 11 Pro</a></li>
											<li><a href="">iPhone 11</a></li>
											<li><a href="">iPhone SE 2020</a></li>
											<li><a href="">iPhone XR</a></li>
										</ul>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">Redmi Note 10T 5G</a></li>
											<li><a href="">Redmi Note 10S</a></li>
											<li><a href="">Mi 11 5G</a></li>
											<li><a href="">Mi 11 Lite</a></li>
											<li><a href="">Redmi 9T</a></li>
											<li><a href="">Redmi Note 10 Pro</a></li>
											<li><a href="">Redmi 9</a></li>
											<li><a href="">Redmi 9A</a></li>
											<li><a href="">Redmi 9C</a></li>
											<li><a href="">Redmi Note 9</a></li>
										</ul>
									</li>
									<li>
										<a href="">Samsung</a>
										<ul>
											<li><a href="">НОВИНКА Galaxy A72</a></li>
											<li><a href="">НОВИНКА Galaxy A52</a></li>
											<li><a href="">НОВИНКА Galaxy A32</a></li>
											<li><a href="">Galaxy Z Fold2</a></li>
											<li><a href="">Galaxy серия A</a></li>
											<li><a href="">Galaxy S21, S21+ и S21 Ultra</a></li>
											<li><a href="">Galaxy S20, S20+, S20 Ultra и S20 FE</a></li>
										</ul>
									</li>
									<li>
										<a href="">Honor</a>
										<ul>
											<li><a href="">Honor 30i</a></li>
											<li><a href="">Honor 10X Lite</a></li>
											<li><a href="">Honor 9A</a></li>
											<li><a href="">Honor 9S</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="" class="menu-button">
									<span class="elm-ico">
										<img src="./img/icons/m04.png" alt="">
									</span>
									<span class="menu-title">Умные часы</span>
								</a>
								<ul>
									<li class="show-all">
										<a href="">Все смартфоны</a>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">iPhone 12 Pro Max</a></li>
											<li><a href="">iPhone 12 Pro</a></li>
											<li><a href="">iPhone 12</a></li>
											<li><a href="">iPhone 12 mini</a></li>
											<li><a href="">iPhone 11 Pro</a></li>
											<li><a href="">iPhone 11</a></li>
											<li><a href="">iPhone SE 2020</a></li>
											<li><a href="">iPhone XR</a></li>
										</ul>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">Redmi Note 10T 5G</a></li>
											<li><a href="">Redmi Note 10S</a></li>
											<li><a href="">Mi 11 5G</a></li>
											<li><a href="">Mi 11 Lite</a></li>
											<li><a href="">Redmi 9T</a></li>
											<li><a href="">Redmi Note 10 Pro</a></li>
											<li><a href="">Redmi 9</a></li>
											<li><a href="">Redmi 9A</a></li>
											<li><a href="">Redmi 9C</a></li>
											<li><a href="">Redmi Note 9</a></li>
										</ul>
									</li>
									<li>
										<a href="">Samsung</a>
										<ul>
											<li><a href="">НОВИНКА Galaxy A72</a></li>
											<li><a href="">НОВИНКА Galaxy A52</a></li>
											<li><a href="">НОВИНКА Galaxy A32</a></li>
											<li><a href="">Galaxy Z Fold2</a></li>
											<li><a href="">Galaxy серия A</a></li>
											<li><a href="">Galaxy S21, S21+ и S21 Ultra</a></li>
											<li><a href="">Galaxy S20, S20+, S20 Ultra и S20 FE</a></li>
										</ul>
									</li>
									<li>
										<a href="">Honor</a>
										<ul>
											<li><a href="">Honor 30i</a></li>
											<li><a href="">Honor 10X Lite</a></li>
											<li><a href="">Honor 9A</a></li>
											<li><a href="">Honor 9S</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="" class="menu-button">
									<span class="elm-ico">
										<img src="./img/icons/m05.png" alt="">
									</span>
									<span class="menu-title">Аксессуары</span>
								</a>
								<ul>
									<li class="show-all">
										<a href="">Все смартфоны</a>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">iPhone 12 Pro Max</a></li>
											<li><a href="">iPhone 12 Pro</a></li>
											<li><a href="">iPhone 12</a></li>
											<li><a href="">iPhone 12 mini</a></li>
											<li><a href="">iPhone 11 Pro</a></li>
											<li><a href="">iPhone 11</a></li>
											<li><a href="">iPhone SE 2020</a></li>
											<li><a href="">iPhone XR</a></li>
										</ul>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">Redmi Note 10T 5G</a></li>
											<li><a href="">Redmi Note 10S</a></li>
											<li><a href="">Mi 11 5G</a></li>
											<li><a href="">Mi 11 Lite</a></li>
											<li><a href="">Redmi 9T</a></li>
											<li><a href="">Redmi Note 10 Pro</a></li>
											<li><a href="">Redmi 9</a></li>
											<li><a href="">Redmi 9A</a></li>
											<li><a href="">Redmi 9C</a></li>
											<li><a href="">Redmi Note 9</a></li>
										</ul>
									</li>
									<li>
										<a href="">Samsung</a>
										<ul>
											<li><a href="">НОВИНКА Galaxy A72</a></li>
											<li><a href="">НОВИНКА Galaxy A52</a></li>
											<li><a href="">НОВИНКА Galaxy A32</a></li>
											<li><a href="">Galaxy Z Fold2</a></li>
											<li><a href="">Galaxy серия A</a></li>
											<li><a href="">Galaxy S21, S21+ и S21 Ultra</a></li>
											<li><a href="">Galaxy S20, S20+, S20 Ultra и S20 FE</a></li>
										</ul>
									</li>
									<li>
										<a href="">Honor</a>
										<ul>
											<li><a href="">Honor 30i</a></li>
											<li><a href="">Honor 10X Lite</a></li>
											<li><a href="">Honor 9A</a></li>
											<li><a href="">Honor 9S</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="" class="menu-button">
									<span class="elm-ico">
										<img src="./img/icons/m06.png" alt="">
									</span>
									<span class="menu-title">Для дома</span>
								</a>
								<ul>
									<li class="show-all">
										<a href="">Все смартфоны</a>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">iPhone 12 Pro Max</a></li>
											<li><a href="">iPhone 12 Pro</a></li>
											<li><a href="">iPhone 12</a></li>
											<li><a href="">iPhone 12 mini</a></li>
											<li><a href="">iPhone 11 Pro</a></li>
											<li><a href="">iPhone 11</a></li>
											<li><a href="">iPhone SE 2020</a></li>
											<li><a href="">iPhone XR</a></li>
										</ul>
									</li>
									<li>
										<a href="">Apple iPhone</a>
										<ul>
											<li><a href="">Redmi Note 10T 5G</a></li>
											<li><a href="">Redmi Note 10S</a></li>
											<li><a href="">Mi 11 5G</a></li>
											<li><a href="">Mi 11 Lite</a></li>
											<li><a href="">Redmi 9T</a></li>
											<li><a href="">Redmi Note 10 Pro</a></li>
											<li><a href="">Redmi 9</a></li>
											<li><a href="">Redmi 9A</a></li>
											<li><a href="">Redmi 9C</a></li>
											<li><a href="">Redmi Note 9</a></li>
										</ul>
									</li>
									<li>
										<a href="">Samsung</a>
										<ul>
											<li><a href="">НОВИНКА Galaxy A72</a></li>
											<li><a href="">НОВИНКА Galaxy A52</a></li>
											<li><a href="">НОВИНКА Galaxy A32</a></li>
											<li><a href="">Galaxy Z Fold2</a></li>
											<li><a href="">Galaxy серия A</a></li>
											<li><a href="">Galaxy S21, S21+ и S21 Ultra</a></li>
											<li><a href="">Galaxy S20, S20+, S20 Ultra и S20 FE</a></li>
										</ul>
									</li>
									<li>
										<a href="">Honor</a>
										<ul>
											<li><a href="">Honor 30i</a></li>
											<li><a href="">Honor 10X Lite</a></li>
											<li><a href="">Honor 9A</a></li>
											<li><a href="">Honor 9S</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="search-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" placeholder="Искать товары" class="form-input">
					<button type="submit" class="btn-action-ico ico-search"></button>
					<div class="dropdown-result-box">
						<div class="result-inner-wrap">
							<div class="result-title-wrap">
								<div class="result-title">Вы недавно искали</div>
								<div class="result-action"><a href="">Очистить</a></div>
							</div>
							<div class="result-section-wrap">
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">IPhone 14 запрос</span>
									</div>
									<a href="" class="btn-action-ico ico-del"></a>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">IPhone 14 запрос</span>
									</div>
									<a href="" class="btn-action-ico ico-del"></a>
								</div>
							</div>
							<div class="result-title-wrap">
								<div class="result-title">Часто ищут</div>
							</div>
							<div class="result-section-wrap">
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">Запрос</span>
									</div>
									<a href="" class="btn-action-ico ico-del"></a>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">Запрос</span>
									</div>
									<a href="" class="btn-action-ico ico-del"></a>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">Запрос</span>
									</div>
									<a href="" class="btn-action-ico ico-del"></a>
								</div>
							</div>
							<div class="result-section-wrap">
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/tiles.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<div class="result-item-title">IPhone 14</div>
										<div class="result-item-info">Смартфоны / Apple IPhone / IPhone 14</div>
									</div>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/tiles.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<div class="result-item-title">IPhone 14</div>
										<div class="result-item-info">Смартфоны / Apple IPhone / IPhone 14</div>
									</div>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">Запрос</span>
									</div>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">Запрос</span>
									</div>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">Запрос</span>
										<div class="result-item-price">
											<div class="elm-price">90 000  ₽</div>
										</div>
									</div>
									<div class="result-item-photo-wrap">
										<div class="elm-photo">
											<img src="./img/result.png" alt="">
										</div>
									</div>
								</div>
								<div class="result-item">
									<div class="elm-ico">
										<img src="./img/icons/search-button-light.svg" alt="">
									</div>
									<div class="result-item-title-wrap">
										<span class="result-item-title">Запрос</span>
										<div class="result-item-price">
											<div class="elm-price">90 000  ₽</div>
										</div>
									</div>
									<div class="result-item-photo-wrap">
										<div class="elm-photo">
											<img src="./img/result.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-inner-wrap action-cart">
					<a href="" class="btn button-second" data-count="2">
						<span class="button-title">73 999 ₽</span>
					</a>
				</div>
				<div class="action-inner-wrap action-user">
					<a href="" class="btn button-second">
						<span class="button-ico">
							<img src="./img/user.jpg" alt="">
						</span>
						<span class="button-title">Дмитрий</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->