<!--main-sbs-form-box-->
<div class="main-sbs-form-box cnt-section">
	<div class="inner-wrap">
		<div class="box-inner-wrap">
			<div class="form-inner-wrap">
				<div class="form-title">Подпишитесь и&nbsp;узнавайте первыми об акциях и&nbsp;новых предложениях</div>
				<form action="/" class="frm-form-wrap">
					<input type="email" placeholder="Email">
					<button type="submit">Отправить</button>
				</form>
			</div>
			<div class="photo-inner-wrap">
				<img src="./img/form.png" alt="">
			</div>
		</div>
	</div>
</div><!--/main-sbs-form-box-->